<!DOCTYPE html>
<html lang="en">

  <head>
    <title th:replace="~{fragments::mauiHeader(title='MAUI Application')}">MAUI</title>
  </head>

  <body>
    <div th:replace="~{fragments::mauiNavbar}"></div>

    <div class="container">
      <h1 style="margin-top: 0.5em; margin-bottom: 1em;"><span th:text="#{application}" th:remove="tags">application</span>: <span th:text='${mauiApplication.name}' th:remove="tags"></span></h1>

      <form th:action="@{/application/{id}(id=${formApplication.id})}" th:object="${formApplication}" th:method="POST">
        <table class="table table-striped">
          <tbody>
            <tr>
              <th width='15%'>Id</th>
              <td><input type="text" class="form-control" th:field="*{id}" readonly="true"/></td>
            </tr>
            <tr>
              <th width='15%'><span th:text="#{name}" th:remove="tags">name</span></th>
              <td>
                <div class="form-group">
                  <input type="text" class="form-control" th:field="*{name}" th:attr="readonly=${mauiConsumer}"/>
                  <div th:if="${#fields.hasErrors('name')}" class="text-danger">
                    <span th:errors="*{name}"></span>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <th width='15%'><span th:text="#{description}" th:remove="tags">description</span></th>
              <td><input type="text" class="form-control" th:field="*{description}" th:attr="readonly=${mauiConsumer}"/></td>
            </tr>
            <tr>
              <th width='15%'><span th:text="#{base_topic}" th:remove="tags">base_topic</span></th>
              <td>
                <div class="form-group">
                  <input type="text" class="form-control" th:field="*{baseTopic}" th:attr="readonly=${mauiConsumer}"/>
                  <div th:if="${#fields.hasErrors('baseTopic')}" class="text-danger">
                    <span th:errors="*{baseTopic}"></span>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <th width='15%'><span th:text="#{expiration_date}" th:remove="tags">expiration_date</span></th>
              <td>                
                <div class="input-group date" id="datepicker">
                  <input type="text" class="form-control" th:field="*{expirationDate}" th:attr="readonly=${mauiConsumer}"/>
                  <span class="input-group-append" th:if="${mauiOwnerOrManager}">
                    <span class="input-group-text bg-light d-block">
                      <i class="mdi mdi-calendar-month"></i>
                    </span>
                  </span>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="d-flex justify-content-end" th:if="${mauiOwnerOrManager}">
          <button type="reset" class="btn btn-secondary me-2">Reset</button>
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </form>

      <h2 style="margin-top: 1em;">
        <button th:if="${mauiOwnerOrManager}" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#createTopicModal">
          <i class="mdi mdi-plus-thick"></i>
        </button>
        <span th:text="#{topics}" th:remove="tags">topics</span>
      </h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Topics</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="entry : ${mauiApplication.topics}">
            <td>
              <span th:text="${mauiApplication.baseTopic}"></span><b><span th:text="${entry.subTopic}"></span></b>
            </td>
          </tr>
        </tbody>
      </table>

      <h2 style="margin-top: 1em;">
        <a th:if="${mauiOwnerOrManager}" class="btn btn-dark" 
           th:href="@{/}">
          <span class="mdi mdi-plus-thick"></span>
        </a>  
        <span th:text="#{clients}" th:remove="tags">clients</span>
      </h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th><span th:text="#{username}" th:remove="tags">username</span></th>
            <th><span th:text="#{name}" th:remove="tags">name</span></th>
            <th><span th:text="#{description}" th:remove="tags">description</span></th>
            <th><span th:text="#{active}" th:remove="tags">active</span></th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="entry : ${mauiApplication.clients}">
            <td width='25%' th:text="${entry.username}"></td>
            <td width='25%' th:text="${entry.name}"></td>
            <td th:text="${entry.description}"></td>
            <td width='5%' th:text="#{${entry.active}}"></td>
          </tr>
        </tbody>
      </table>

      <div th:if="${mauiOwnerOrManager}" th:remove="tags">
        <h2 style="margin-top: 1em;">
          <a class="btn btn-dark" 
             th:href="@{/}" th:if="${mauiOwner}">
            <span class="mdi mdi-plus-thick"></span>
          </a>  
          <span th:text="#{coworker}" th:remove="tags">coworker</span>
        </h2>
        <table class="table table-striped">
          <thead>
            <tr>
              <th><span th:text="#{firstname}" th:remove="tags">firstname</span></th>
              <th><span th:text="#{lastname}" th:remove="tags">lastname</span></th>
              <th><span th:text="#{email}" th:remove="tags">email</span></th>
              <th><span th:text="#{access}" th:remove="tags">access</span></th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="entry : ${mauiPersonPermissions}">
              <td th:text="${entry.person.firstname}"></td>
              <td th:text="${entry.person.lastname}"></td>
              <td th:text="${entry.person.email}"></td>
              <td>
                <span th:if="${mauiOwner == false || entry.person.id == mauiOwnPerson.id }" th:remove="tags" th:text="#{'application_permissions.' + ${entry.permissions}}"></span>
                <form th:if="${mauiOwner == true && entry.person.id != mauiOwnPerson.id}" th:action="@{/application-permissions/{id}/{applicationId}(id=${entry.id}, applicationId=${mauiApplication.id})}" method="post">
                  <select class="form-select" name="permissions" th:value="${entry.permissions}" onchange="this.form.submit()">
                    <option value="1" th:text="#{application_permissions.1}" th:selected="${entry.permissions == 1}"></option>
                    <option value="2" th:text="#{application_permissions.2}" th:selected="${entry.permissions == 2}"></option>
                    <option value="3" th:text="#{application_permissions.3}" th:selected="${entry.permissions == 3}"></option>
                  </select>
                </form>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- START: create topic dialog -->

    <div class="modal fade" id="createTopicModal" tabindex="-1" aria-labelledby="createTopicModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="createTopicModalLabel">Create topic</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form th:action="@{/topic/create}" th:method="POST">
            <div class="modal-body">
              <p id="modalContent">Create a new sub topic for <tt>'<span th:text="${mauiApplication.baseTopic}" th:remove="tags"></span>&lt;sub topic&gt;'</tt></p>
              <label for="formApplicationId" class="col-form-label">Application Id</label>
              <input type="text" class="form-control" id="formApplicationId" th:value="${mauiApplication.id}" readonly="true">
              <label for="formSubTopicId" class="col-form-label">Sub Topic</label>
              <input type="text" class="form-control" id="formSubTopicId" placeholder="/state"/>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-danger">Create</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- END: create topic dialog -->

    <!-- START: Toast Message -->
    <div th:if="${errorStatus.status != T(l9g.webapp.maui.dto.DtoErrorStatus).STATUS_NONE}">
      <div class="toast-container top-0 start-50 translate-middle-x p-3">
        <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
          <div class="toast-header text-bg-primary">
            <strong class="me-auto" th:text="${errorStatus.title}">title</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
          </div>
          <div class="toast-body" th:text="${errorStatus.message}">message</div>
        </div>
      </div>
    </div>
    <!-- END: Toast Message -->

    <div th:replace="~{fragments::mauiFooter}"></div>

    <script th:if="${mauiOwnerOrManager}">
      $(document).ready(function () {

        var today = new Date();
        var twoYearsFromNow = new Date();
        twoYearsFromNow.setFullYear(today.getFullYear() + 2);

        $('#datepicker').datepicker({
          format: 'yyyy-mm-dd',
          startDate: today,
          endDate: twoYearsFromNow,
          todayHighlight: true,
          autoclose: true
        });
      });
    </script>

    <div th:if="${errorStatus.status != T(l9g.webapp.maui.dto.DtoErrorStatus).STATUS_NONE}">
      <script>
        bootstrap.Toast.getOrCreateInstance(document.getElementById('liveToast')).show();
      </script>
    </div>

  </body>
</html>